.cardContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.cardHeader {
  display: flex;
  align-items: center;
}

.cardHeaderText {
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: 500;
}

.cardDescription {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
}

/* icons */
.linkIcon {
  width: 17px;
  height: 17px;
  fill: var(--color-text-tertiary);
  opacity: 0.5;
  margin-left: auto;
}

.headerIcon {
  width: 24px;
  height: 24px;

  margin-right: 10px;
}
